@tailwind base;
@tailwind components;
@tailwind utilities;

:focus {
    /* outline: ; */
    outline-width: 1px;
    outline-offset: .5rem;
    outline-color: white;
}

.hero-grid {
    display: flex;

}

@media (min-width:768px) {
    .hero-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

.hero-grid-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.hero-grid-2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

.hero-grid-3 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.hero-grid-4 {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}


.login-button {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593) !important;
}

.popup-menu-open {
    overflow: hidden;
}